* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #2c69d1, #0abcf9);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}
.nav .nav-item {
  position: relative;
  height: 60px;
  font-size: 1.2rem;
  transition: all 0.5s ease-in;
}
.nav .nav-item:hover {
  background-image: linear-gradient(to right, #1d3b70, #0abcf9);
}
.nav .nav-item.active {
  background-image: linear-gradient(to right, #1d3b70, #0abcf9);
}
.btn.post {
  color: aliceblue !important;
  background-color: #2c63c3 !important;
}
/*
  *
  * ==========================================
  * FOR SCROLL BAR
  * ==========================================
  *
  */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, rgb(105, 248, 126), #0dcaf0);
}
/* 
password eye remove style for edge
*/
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
/* 

For number input spin button

*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* password eye style */

#beye,
#bceye,
#lceye {
  cursor: pointer;
}

.date {
  font-family: "Roboto Mono", monospace;
}
@media only screen and (min-width: 1030px) and (max-width: 1890px) {
  #user-dashboard,
  #user-help-students {
    margin-left: 18%;
  }
}
